AdventureWorks.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT *\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'\nAND TABLE_SCHEMA = 'SalesLT'",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "AzureSqlTable",
            "typeProperties": {
              "database": "adventureworks"
            },
            "schema": [],
            "externalReferences": {
              "connection": "1d6b6003-1738-4459-bd38-6bd42a5069a6"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup tables",
        "description": "Metadata driven that retrieves all the tables from AdventureWorks",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup tables').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "AzureSqlTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@item().table_schema",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      },
                      "database": "adventureworks"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "1d6b6003-1738-4459-bd38-6bd42a5069a6"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": true
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('adventureworks/', formatDateTime(utcnow(), 'yyyyMMdd'))",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().table_name, '.parquet')",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Bronze",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "3c25d5f2-8b05-afaf-4039-a146631b5b46",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy table",
              "description": "Copy each tables in a parquet file in the bronze lakehouse",
              "dependsOn": []
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "ebd3277a-e8b6-abb2-4394-29a2f54d5629",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "schemaName": {
                    "value": "adventureworks",
                    "type": "string"
                  },
                  "tableName": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filePath": {
                    "value": {
                      "value": "@formatDateTime(utcnow(), 'yyyyMMdd')",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Bonze tables",
              "description": "Notebook activity in order to create bonze delta tables",
              "dependsOn": [
                {
                  "activity": "Copy table",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "For each table",
        "description": "Loop for each tables retrieved by the lookup activity",
        "dependsOn": [
          {
            "activity": "Lookup tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}